<script type="text/javascript" charset="utf-8">
</script>
<noscript>
    <div id="message_block" class="message_block">
        <ul class="error"><li>You need Javascript enabled to use this application</li></ul>
    </div>
</noscript>

<% form_tag sessions_path, :class => "login-form" do -%>
    <div class="labelfield"><div class="label"><%= label_tag 'login' %></div><div class="field"><%= text_field_tag 'login', @login %></div></div>
    <div class="labelfield"><div class="label"><%= label_tag 'password' %></div><div class="field"><%= password_field_tag 'password', nil %></div></div>
    <div class="labelfield"><div class="submit"><%= submit_tag 'Log in' %></div></div>
    <div class="labelfield"><div class="submit"><%= link_to("Forgot your password?", new_password_path) %></div></div>
<% end -%>