<div class="labelfield"><div class="label"><%= form.label :name %></div><div class="field"><%= form.text_field :name %></div></div>
<div class="labelfield"><div class="label"><%= form.label :number %></div><div class="field"><%= form.text_field :number %></div></div>
<div class="labelfield"><div class="label"><%= form.label :value %></div><div class="field"><%= form.text_field :value %></div></div>
<div class="labelfield"><div class="label"><%= form.label :floor_area %></div><div class="field"><%= form.text_field :floor_area %>&nbsp;sq.&nbsp;m</div></div>