<p><%= form.label :name %> <%= form.text_field :name %></p>
<p><%= form.label :number %> <%= form.text_field :number %></p>
<p><%= form.label :value %> <%= form.text_field :value %></p>
<p><%= form.label :floor_area %> <%= form.text_field :floor_area %></p>