<div class="project-info">
    <div class="item">
        <div class="label">Number: </div>
        <div class="value"><%= project.number %></div>
    </div>
    <div class="item">
        <div class="label">Value: </div>
        <div class="value">£<%= project.value %></div>
    </div>
    <div class="item">
        <div class="label">Floor Area: </div>
        <div class="value"><%= project.floor_area %>sq.&nbsp;m</div>
    </div>
    <div class="item">
        <div class="label">Start Date: </div>
        <div class="value"><%= project.start_date %></div>
    </div>
</div>

<div class="co2-output">
    <p class="label">Total CO<sub>2</sub> output:</p>
    <p class="amount"> <%= @project.total_carbon.to_i %> kg</p>
</div>