<% @show_model_errors = @role %>

<% remote_form_for @role, :url => user_roles_path(@user), :html => {:class => "add-right-form"} do |f| %>
    <div class="field"><%= f.label :allowable_id, "Project" %>  <%= f.select(:allowable_id, @client.projects_assignable_by(current_user).map{|p| [p.name, p.id]}) %></div>
    <div class="field"><%= f.label :role_type, "Access" %> <%= f.select(:role_type, roles_user_can_assign(current_user)) %></div>
    <div class="field"><%= f.submit "Add" %></div>
<% end %>