<tr>
    <td><%= commute.name %></td>
    <td><%= commute.amee_category.name %></td>
    <td class="multiplier"><%= commute.repetitions %>&nbsp;x&nbsp;</td>
    <td><%= commute.amount %> <%= units_name_from_amee_unit(commute) %></td>
    <td><%= commute.carbon_output_cache.round(2) %> kg</td>
    <td class="middle"><%= link_to_remote(image_tag("commute-edit.png", :style => "margin:0;padding:0;"), :url => edit_project_commute_path(commute.project, commute), :method => :get) %></td>
    <td class="middle"><%= button_to("delete", project_commute_path(commute.project, commute), :method => :delete, :confirm => "Are you sure?", :class => "delete-button") %></td>
</tr>