<tr>
    <td><%= material.name %></td>
    <td><%= material.amee_category.name %></td>
    <td><%= material.amount %> <%= units_name_from_amee_unit(material) %></td>
    <td><%= material.carbon_output_cache.round(2) %> kg</td>
    <td class="middle"><%= link_to_remote(image_tag("material-edit.png", :style => "margin:0;padding:0;"), :url => edit_project_material_path(material.project, material), :method => :get) %></td>
    <td class="middle"><%= button_to("delete", project_material_path(material.project, material), :method => :delete, :confirm => "Are you sure?", :class => "delete-button") %></td>
</tr>