<% if logged_in? %>
<div class="project-info">
  <% if @project && !@project.new_record? %>
    <h3><%= @project.name %></h3>
  <% end %>
</div>
<div class="user">
  <p>
    <% if @project && !@project.new_record? && @client.projects.readable_by_user(current_user).length > 1 %>
      <% form_tag(project_path(@project), :method => :get, :id => "switch_project_form") do %>
        <%= select_tag(:project_switch_id, options_for_select(@client.projects.readable_by_user(current_user).map {|p| [p.name, p.id]}.unshift(["Switch to project...", 0]), :selected => 0), :onchange => "switchProject();") %>
      <% end %>
      <%= "|" %>
    <% elsif (!@project || @project.new_record?) && @client.projects.readable_by_user(current_user).length > 0 %>
      <% form_tag(project_path(:id => 0), :method => :get, :id => "switch_project_form") do %>
        <%= select_tag(:project_switch_id, options_for_select(@client.projects.readable_by_user(current_user).map {|p| [p.name, p.id]}.unshift(["Switch to project...", 0]), :selected => 0), :onchange => "switchProject();") %>
      <% end %>
      <%= "|" %>
    <% end %>
    <% if current_user.admin? && @project && !@project.new_record? %>
      <%= link_to("Edit Project", edit_project_path(@project)) %> |
    <% end %>
    <% if current_user.admin? %>
      <%= link_to("Create New Project", new_project_path) %>
      <%= "|" %>
    <% end %>
    <%= link_to("User Profile", edit_user_path(current_user)) %>
    <% if current_user.can_create_other_users? && @client.projects.readable_by_user(current_user).length > 0 %>
      | <%= link_to("User Admin", users_path) %>
    <% end %>
    | <%= link_to("Logout", logout_path) %>
  </p>
</div>
<% end %>